<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title> Lamborghini </ion-title>
  </ion-toolbar>
</ion-header>
<div class="imagem">
  <ion-card style="background-color: rgba(0, 0, 0, 0.8)">
    <img
      class="imagem-veneno"
      alt="Lamborghini veneno"
      src="https://t.ctcdn.com.br/93n4Pd2HrgTNnL4_rpSvfIfBrr4=/1920x1080/smart/i834323.jpeg"
    />
    <ion-card-header>
      <ion-card-title color="light">Lamborghini</ion-card-title>
      <ion-card-subtitle color="light">Informações:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="light">
      O Lamborghini Veneno é um supercarro exclusivo apresentado pela primeira
      vez no Salão Internacional do Automóvel de Genebra de 2013. O carro é
      baseado no Lamborghini Aventador e foi criado para celebrar o 50º
      aniversário da Lamborghini.
    </ion-card-content>
  </ion-card>
</div>
