<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title>
      Ferrari
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="imagem">
  <ion-card style="background-color: rgba(0, 0, 0, 0.8);">
    <img
    class="imagem-enzo"
    alt="Ferrari enzo"
    src="https://c4.wallpaperflare.com/wallpaper/533/176/958/khyzyl-saleem-car-vehicle-artwork-wallpaper-preview.jpg" />
    <ion-card-header>
      <ion-card-title color="light">Ferrari Enzo</ion-card-title>
      <ion-card-subtitle color="light">Informações:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="light">
      Enzo é um supercarro de tração traseira e motor central-traseiro produzido pela Ferrari, fabricante italiana de
      automóveis. Recebeu o nome do criador da companhia, Enzo Anselmo Ferrari.[2] O automóvel é popularmente chamado
      apenas de "Ferrari Enzo", mesmo este não sendo o nome oficial do modelo.
    </ion-card-content>
  </ion-card>
</div>
